<div class="row">
<div class="myDivider"></div>
    <div class="col s12">
        <h4 class="center-align">My Skills</h4>
    </div>
</div>
<div class="row">

    {% for skill in  skills %}
        <div class="col s3">
            {{ skill.label }}
            <div class="progress" style="height: 10px;" data-aos="zoom-in-right" data-aos-easing="ease-in-out" data-aos-once="true">
                <div class="determinate {{ skill.color }}" style="width: {{ skill.mastery }}%;"></div>
            </div>
        </div>
{% endfor %}
</div>
<div class="myDivider"></div>

