{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Tools{% endblock %}

{% block body %}
    <h1>Edit Tools</h1>

    {{ include('tools/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tools_index') }}">back to list</a>

    {{ include('tools/_delete_form.html.twig') }}
{% endblock %}
