<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {{ encore_entry_link_tags('app')}}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include 'Admin/_navAdmin.html.twig' %}
        {% endblock %}
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('materialize-init') }}


        {% block js %}
        {% endblock %}

    </body>
</html>
